* {
  padding: 0;
  margin-right: 3vw;
  width: 100%;

  /* display: flex; */
}
.web-page {
  flex-direction: column;
  background-color: lightgrey;
  /* width: 100%; */
}

.header {
  /* display: flex; */
  background-color: rgb(50, 90, 177);
  position: sticky;
  top: 0;
  color: white;
  text-shadow: 2px 2px grey;
  text-align: center;
  border: 2.5px outset white;
  font-size: 18px;
}
.link {
  text-shadow: 1.5px 1.5px grey;
  position: sticky;
}
.link :visited {
  color: white;
  text-decoration: none;
}
.link :link {
  color: white;
  text-decoration: none;
}
.link :hover {
  color: black;
  border: 1px outset white;
  border-radius: 13%;
}
.link :active {
  color: rgb(255, 255, 255);
}

body {
  background-color: lightgrey;
  max-width: 90%;
  margin: auto;
}
.navBar {
  font-size: 22px;
  display: flex;
  list-style-type: none;
  text-overflow: none;
}
.posts {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  /* margin: 1vw; */
}
.post {
  flex-direction: column;
  border: 4px inset white;
  margin-bottom: 3.3px;
  padding: 8px;
}
.post button {
  width: 20%;
}
.post input {
  width: 20%;
  text-align: center;
}
.post h2 {
  text-decoration: underline;
  color: rgb(50, 90, 177);
}
.description {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.logIn {
  margin-left: 350px;
  margin-top: 200px;
  padding: 50px;
  height: 50%;
  width: 50%;
  border: 3.5px solid white;
  display: flex;
}
.logIn h1 {
  text-align: center;
}
.form {
  display: block;
  width: 300px;
  position: relative;
  margin: auto;
  /* border: 2px solid white; */
}
.form input {
  width: 250px;
  /* margin-bottom: 3px;
  margin-left: 5px; */
  margin: 0 auto 10px auto;
  padding: 10px 15px;
  text-align: center;
}
.form button {
  width: 285px;
  margin-bottom: 3px;
  padding: 10px 15px;
  text-align: center;
}
.signUp {
  margin-left: 350px;
  margin-top: 200px;
  padding: 50px;
  height: 50%;
  width: 50%;
  border: 3.5px solid white;
  display: flex;
}
.signUp h1 {
  text-align: center;
}

.createPostForm {
  border: 1px solid black;

  width: 75%;
  flex-direction: column;
}

.createPostForm h3 {
  text-align: center;
  justify-content: flex-end;
}
