* {
  padding: 0;
  margin-right: 3vw;
  width: 100%;

  /* display: flex; */
}
.web-page {
  flex-direction: column;
  background-color: lightgrey;
  /* width: 100%; */
}
.header {
  display: flex;
  background-color: rgb(50, 90, 177);
  position: sticky;
  top: 0;
  padding: 1vw;
  color: white;
  text-shadow: 2px 2px grey;
}
.link :visited {
  color: white;
  text-decoration: none;
}

body {
  background-color: lightgrey;
}
.navBar {
  font-size: 25px;
  display: flex;
  list-style-type: none;
}
.posts {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
}
.post {
  flex-direction: column;
  border: 3px solid white;
  margin-bottom: 3px;
  padding: 12px;
}
.logIn {
  /* margin: 10% auto;
  padding: 80px; */
  height: 100%;
  width: 100%;
}
.logIn h1 {
  text-align: center;
}
.form {
  display: block;
  width: 300px;
  position: relative;
  margin: auto;
  /* border: 2px solid white; */
}
.form input {
  width: 250px;
  /* margin-bottom: 3px;
  margin-left: 5px; */
  margin: 0 auto 10px auto;
  padding: 10px 15px;
  text-align: center;
}
.form button {
  width: 285px;
  margin-bottom: 3px;
  padding: 10px 15px;
  text-align: center;
}
